<div data-elementor-type="footer" data-elementor-id="26" class="elementor elementor-26 elementor-location-footer"
    data-elementor-post-type="elementor_library">
    <div class="elementor-element elementor-element-4583451 e-flex e-con-boxed e-con e-parent" data-id="4583451"
        data-element_type="container">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-b5c2b5a e-con-full e-flex e-con e-child" data-id="b5c2b5a"
                data-element_type="container">
                <div class="elementor-element elementor-element-8ee50c3 elementor-widget elementor-widget-image"
                    data-id="8ee50c3" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img width="800" height="134" src="/unmeilleuravenir.com_files/Asset-8-8-1024x172.png"
                            class="attachment-large size-large wp-image-27" alt="">
                    </div>
                </div>
                <div class="elementor-element elementor-element-fc08488 elementor-widget elementor-widget-text-editor"
                    data-id="fc08488" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        {{ range .Site.Params.footertext }}
                        <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-2269cef e-con-full e-flex e-con e-child" data-id="2269cef"
                data-element_type="container">
                <div class="elementor-element elementor-element-5c4d2bd elementor-widget elementor-widget-heading"
                    data-id="5c4d2bd" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">{{.Site.Params.company}}</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-0661ba0 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                    data-id="0661ba0" data-element_type="widget" data-widget_type="icon-list.default">
                    <div class="elementor-widget-container">
                        <ul class="elementor-icon-list-items">
                            {{ range site.Menus.main }}
                            <li class="elementor-icon-list-item">
                                <a href="{{ .URL }}">

                                    <span class="elementor-icon-list-text">{{ .Name }}</span>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-c743629 e-flex e-con-boxed e-con e-parent" data-id="c743629"
        data-element_type="container">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-09401ee elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="09401ee" data-element_type="widget" data-widget_type="divider.default">
                <div class="elementor-widget-container">
                    <div class="elementor-divider">
                        <span class="elementor-divider-separator">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-19c3a1d e-flex e-con-boxed e-con e-parent" data-id="19c3a1d"
        data-element_type="container">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-8de14c5 e-con-full e-flex e-con e-child" data-id="8de14c5"
                data-element_type="container">
                <div class="elementor-element elementor-element-8c1cd0e elementor-widget elementor-widget-text-editor"
                    data-id="8c1cd0e" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>{{.Site.Copyright}}</p>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-9515f60 e-con-full e-flex e-con e-child" data-id="9515f60"
                data-element_type="container">
                <div class="elementor-element elementor-element-4521463 elementor-widget elementor-widget-spacer"
                    data-id="4521463" data-element_type="widget" data-widget_type="spacer.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>