{{with .Params.hero}}
<div class="elementor-element elementor-element-9912efd e-flex e-con-boxed e-con e-parent e-lazyloaded"
    data-id="9912efd" data-element_type="container"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-810f5bf e-con-full e-flex e-con e-child" data-id="810f5bf"
            data-element_type="container">
            <div class="elementor-element elementor-element-906fbdc elementor-widget elementor-widget-heading"
                data-id="906fbdc" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">
                        {{.Title}}
                    </h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-5c003e6 elementor-widget elementor-widget-text-editor"
                data-id="5c003e6" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <p>{{.Description}}</p>
                </div>
            </div>
            {{with .rating}}
            <div class="elementor-element elementor-element-a118588 e-con-full e-flex e-con e-child" data-id="a118588"
                data-element_type="container">
                <div class="elementor-element elementor-element-fc46974 e-con-full e-flex e-con e-child"
                    data-id="fc46974" data-element_type="container">
                    <div class="elementor-element elementor-element-515621d elementor-widget elementor-widget-rating"
                        data-id="515621d" data-element_type="widget" data-widget_type="rating.default">
                        <div class="elementor-widget-container">
                            <div class="e-rating" itemtype="https://schema.org/Rating" itemscope=""
                                itemprop="reviewRating">
                                <meta itemprop="worstRating" content="0">
                                <meta itemprop="bestRating" content="5">
                                <div class="e-rating-wrapper" itemprop="ratingValue" content="4.5" role="img"
                                    aria-label="Rated 4.5 out of 5">
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked"
                                            style="--e-rating-icon-marked-width: 50%;">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-4432e0a elementor-widget elementor-widget-text-editor"
                        data-id="4432e0a" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>{{.text}}<span style="color: #34d399;">{{.users}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

            {{ with .mentions}}
            <div class="elementor-element elementor-element-adb0485 e-con-full e-flex e-con e-child" data-id="adb0485"
                data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-3b31b2b elementor-widget elementor-widget-heading"
                    data-id="3b31b2b" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">{{.title}}
                        </h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-f0de0b9 elementor-widget elementor-widget-image"
                    data-id="f0de0b9" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img decoding="async" width="551" height="96" src="{{.logoimage}}"
                            class="attachment-large size-large wp-image-56" alt="logos" loading="lazy">
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        {{with .showSignUpform}}
        <div class="elementor-element elementor-element-48f2b66 e-con-full e-flex e-con e-child" data-id="48f2b66"
            data-element_type="container">
            <div class="elementor-element elementor-element-c60ce2b e-con-full e-flex e-con e-child" data-id="c60ce2b"
                data-element_type="container" id="sign-up"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-e29daeb elementor-widget elementor-widget-heading"
                    data-id="e29daeb" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Sign up now
                        </h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-c94af26 elementor-widget elementor-widget-metform"
                    data-id="c94af26" data-element_type="widget" data-widget_type="metform.default">
                    <div class="elementor-widget-container">

                        <div class="elementor-widget-container">
                            <form class="metform-form-content" name="Sign Up" method="POST" data-netlify="true">
                                <div class="metform-form-main-wrapper">
                                    <div data-elementor-type="wp-post" data-elementor-id="60"
                                        class="elementor elementor-60" data-elementor-post-type="metform-form">
                                        <div class="elementor-element elementor-element-082219d e-con-full e-flex e-con e-parent"
                                            data-id="082219d" data-element_type="container">
                                            <div class="elementor-element elementor-element-4e9899f elementor-widget elementor-widget-mf-text"
                                                data-id="4e9899f" data-element_type="widget"
                                                data-settings="{&quot;mf_input_name&quot;:&quot;f_name&quot;}"
                                                data-widget_type="mf-text.default">
                                                <div class="elementor-widget-container">
                                                    <div class="mf-input-wrapper"><input type="text" class="mf-input "
                                                            id="mf-input-text-4e9899f" name="f_name"
                                                            placeholder="First Name " aria-invalid="false"></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-2070519 elementor-widget elementor-widget-mf-text"
                                                data-id="2070519" data-element_type="widget"
                                                data-settings="{&quot;mf_input_name&quot;:&quot;L_name&quot;}"
                                                data-widget_type="mf-text.default">
                                                <div class="elementor-widget-container">
                                                    <div class="mf-input-wrapper"><input type="text" class="mf-input "
                                                            id="mf-input-text-2070519" name="L_name"
                                                            placeholder="Last Name " aria-invalid="false"></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-ec087ce elementor-widget elementor-widget-mf-email"
                                                data-id="ec087ce" data-element_type="widget"
                                                data-settings="{&quot;mf_input_name&quot;:&quot;u_email&quot;}"
                                                data-widget_type="mf-email.default">
                                                <div class="elementor-widget-container">
                                                    <div class="mf-input-wrapper"><input type="email" class="mf-input "
                                                            id="mf-input-email-ec087ce" name="u_email"
                                                            placeholder="Email " aria-invalid="false" value=""></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-fc1b5c7 elementor-widget elementor-widget-mf-telephone"
                                                data-id="fc1b5c7" data-element_type="widget"
                                                data-settings="{&quot;mf_input_name&quot;:&quot;phone&quot;}"
                                                data-widget_type="mf-telephone.default">
                                                <div class="elementor-widget-container">
                                                    <div class="mf-input-wrapper"><input type="tel" class="mf-input "
                                                            id="mf-input-telephone-fc1b5c7" name="phone"
                                                            placeholder="Phone " aria-invalid="false">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-d804eba mf-btn--justify elementor-widget elementor-widget-mf-button"
                                                data-id="d804eba" data-element_type="widget"
                                                data-widget_type="mf-button.default">
                                                <div class="elementor-widget-container">
                                                    <div class="mf-btn-wraper "
                                                        data-mf-form-conditional-logic-requirement="">
                                                        <button type="submit" style="color: white;"
                                                            class="metform-btn metform-submit-btn " id=""><span>Create
                                                                Your Free Account
                                                            </span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}