{{ define "main" }}

{{with .Params.logos}}
<div class="elementor-element elementor-element-10c7033 e-con-full e-flex e-con e-parent e-lazyloaded" data-id="10c7033"
    data-element_type="container">
    <div class="elementor-element elementor-element-cfeee63 elementor-widget elementor-widget-ucaddon_logo_marquee"
        data-id="cfeee63" data-element_type="widget" data-widget_type="ucaddon_logo_marquee.default">
        <div class="elementor-widget-container">

            <!-- start Logo Marquee -->
            <style>
                /* widget: Logo Marquee */

                #uc_logo_marquee_elementor_cfeee63 {
                    min-height: 1px;
                    text-align: center;
                    position: relative;
                    opacity: 0;
                }

                #uc_logo_marquee_elementor_cfeee63 * {
                    box-sizing: border-box;
                }

                #uc_logo_marquee_elementor_cfeee63 .uc_marquee {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    position: relative;
                }

                #uc_logo_marquee_elementor_cfeee63 .uc_marquee>div {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    flex: 0 0 auto;
                    width: auto;
                    overflow: hidden;
                    animation-name: marquee-to-left;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                #uc_logo_marquee_elementor_cfeee63 img {

                    height: 100%;
                    object-fit: contain;
                }

                #uc_logo_marquee_elementor_cfeee63 .ue_marquee_title {
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                }

                #uc_logo_marquee_elementor_cfeee63 .uc_logo_marquee_holder {
                    position: relative;
                    text-align: center;
                    overflow: hidden;
                }


                #uc_logo_marquee_elementor_cfeee63 .uc_logo_marquee_holder a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }


                @keyframes marquee-to-left {
                    from {
                        transform: translate(0, 0)
                    }

                    to {
                        transform: translate(-50%, 0)
                    }
                }






                #uc_logo_marquee_elementor_cfeee63 .ue-item-badge {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            </style>
            <div class="uc_logo_marquee " id="uc_logo_marquee_elementor_cfeee63" style="direction:ltr;">
                <div class="uc_marquee uc-items-wrapper" data-height="100px" data-speed="5000" data-mobile-items="3"
                    data-tablet-items="5" data-desktop-items="13" data-mobile-margin="30" data-tablet-margin="30"
                    data-desktop-margin="30" data-paused="true" data-direction="left">
                    {{range .}}
                    <div class="uc_logo_marquee_holder elementor-repeater-item-9b46958">
                        <img decoding="async" src="/logos/{{.}}" alt="{{.}}" class="ue_img_marquee" loading="lazy">
                    </div>
                    {{end}}
                </div>
            </div>
            <!-- end Logo Marquee -->
        </div>
    </div>
</div>
{{end }}

{{with .Params.section_1}}
<div class="elementor-element elementor-element-e9cb290 e-flex e-con-boxed e-con e-parent e-lazyloaded"
    data-id="e9cb290" data-element_type="container"
    data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-0af6ae1 elementor-widget elementor-widget-heading"
            data-id="0af6ae1" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">{{.small_title}}
                </h2>
            </div>
        </div>
        <div class="elementor-element elementor-element-9256b2e elementor-widget__width-initial elementor-widget elementor-widget-heading"
            data-id="9256b2e" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">
                    {{.main_title}}
                </h2>
            </div>
        </div>
        <div class="elementor-element elementor-element-2ae6bac e-con-full e-flex e-con e-child" data-id="2ae6bac"
            data-element_type="container">
            {{range first 3 .features}}
            <div class="elementor-element elementor-element-3a6f270 e-con-full e-flex e-con e-child" data-id="3a6f270"
                data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-8de951e elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                    data-id="8de951e" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper">

                            <div class="elementor-icon-box-icon">
                                <span class="elementor-icon">
                                    {{.icon | safeHTML}}
                                </span>
                            </div>

                            <div class="elementor-icon-box-content">

                                <h3 class="elementor-icon-box-title">
                                    <span>{{.title}} </span>
                                </h3>

                                <p class="elementor-icon-box-description">
                                    {{.description}}
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        <div class="elementor-element elementor-element-9316642 e-con-full e-flex e-con e-child" data-id="9316642"
            data-element_type="container">
            {{range last 3 .features}}
            <div class="elementor-element elementor-element-3a6f270 e-con-full e-flex e-con e-child" data-id="3a6f270"
                data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-8de951e elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                    data-id="8de951e" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper">

                            <div class="elementor-icon-box-icon">
                                <span class="elementor-icon">
                                    {{.icon | safeHTML}}
                                </span>
                            </div>

                            <div class="elementor-icon-box-content">

                                <h3 class="elementor-icon-box-title">
                                    <span>{{.title}} </span>
                                </h3>

                                <p class="elementor-icon-box-description">
                                    {{.description}}
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>

        {{with .button}}
        <div class="elementor-element elementor-element-ab32c97 e-con-full e-flex e-con e-child" data-id="ab32c97"
            data-element_type="container">
            <div class="elementor-element elementor-element-0a6e67d elementor-align-center elementor-widget elementor-widget-button"
                data-id="0a6e67d" data-element_type="widget" data-widget_type="button.default">
                <div class="elementor-widget-container">
                    <div class="elementor-button-wrapper">
                        <a class="elementor-button elementor-button-link elementor-size-sm" href="{{.link}}">
                            <span class="elementor-button-content-wrapper">
                                <span class="elementor-button-icon">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-fas-long-arrow-alt-right"
                                        viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z">
                                        </path>
                                    </svg> </span>
                                <span class="elementor-button-text">{{.text}}</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}

{{with .Params.section_2}}
<div class="elementor-element elementor-element-b233fad e-flex e-con-boxed e-con e-parent" data-id="b233fad"
    data-element_type="container">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-2bd1aa4 e-con-full e-flex e-con e-child" data-id="2bd1aa4"
            data-element_type="container">
            <div class="elementor-element elementor-element-1e7374a elementor-widget elementor-widget-heading"
                data-id="1e7374a" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">{{.small_title}}
                    </h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-f1c6d73 elementor-widget__width-initial elementor-widget elementor-widget-heading"
                data-id="f1c6d73" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">{{.main_title}}
                    </h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-71f660a elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                data-id="71f660a" data-element_type="widget" data-widget_type="icon-list.default">
                <div class="elementor-widget-container">
                    <ul class="elementor-icon-list-items">
                        {{range .services}}
                        <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
                                {{.icon | safeHTML }} </span>
                            <span class="elementor-icon-list-text">
                                <b>{{.title}}</b>
                                {{.description}}
                            </span>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-4c0799a e-con-full e-flex e-con e-child" data-id="4c0799a"
            data-element_type="container">
            <div class="elementor-element elementor-element-bc3d2a1 e-con-full e-flex e-con e-child" data-id="bc3d2a1"
                data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
                <div class="elementor-element elementor-element-abd9de6 elementor-widget elementor-widget-image"
                    data-id="abd9de6" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img decoding="async" width="800" height="834"
                            src="/wp-content/uploads/2025/02/12345-982x1024.png"
                            class="attachment-large size-large wp-image-119" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{with .Params.section_3}}
<div class="elementor-element elementor-element-386dec7 e-flex e-con-boxed e-con e-parent" data-id="386dec7"
    data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-7bb473a e-con-full e-flex e-con e-child" data-id="7bb473a"
            data-element_type="container">
            <div class="elementor-element elementor-element-a5ecc69 elementor-widget elementor-widget-heading"
                data-id="a5ecc69" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">{{.small_title}}
                    </h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-e034cd4 elementor-widget elementor-widget-heading"
                data-id="e034cd4" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">{{.main_title}}</h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-2a3a38a e-con-full e-flex e-con e-child" data-id="2a3a38a"
                data-element_type="container">
                {{range .steps}}
                <div class="elementor-element elementor-element-1a10b5e e-con-full e-flex e-con e-child"
                    data-id="1a10b5e" data-element_type="container"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-element elementor-element-8a4a4db elementor-widget__width-initial elementor-widget elementor-widget-heading"
                        data-id="8a4a4db" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">{{.step}}</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2a333a3 elementor-widget elementor-widget-icon-box"
                        data-id="2a333a3" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title">
                                        <span>{{.title}}</span>
                                    </h3>

                                    <p class="elementor-icon-box-description">{{.description}} </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
            <div class="elementor-element elementor-element-3340673 e-con-full e-flex e-con e-child" data-id="3340673"
                data-element_type="container">
                <div class="elementor-element elementor-element-d5fe73c elementor-align-center elementor-widget__width-auto elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                    data-id="d5fe73c" data-element_type="widget" data-widget_type="icon-list.default">
                    <div class="elementor-widget-container" style="display: flex;align-items: center;">
                        <span class="elementor-icon-list-icon">
                            <svg aria-hidden="true" class="e-font-icon-svg e-fas-lock" viewBox="0 0 448 512"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z">
                                </path>
                            </svg> </span>
                        <span class="elementor-icon-list-text">{{.safe_text}}</span>
                    </div>
                </div>
                <div class="elementor-element elementor-element-f5ab9cc elementor-align-center elementor-widget elementor-widget-button"
                    data-id="f5ab9cc" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                            <a class="elementor-button elementor-button-link elementor-size-sm" href="/#sign-up">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-icon">
                                        <svg aria-hidden="true" class="e-font-icon-svg e-fas-long-arrow-alt-right"
                                            viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z">
                                            </path>
                                        </svg> </span>
                                    <span class="elementor-button-text">Get Started</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{with .Params.section_4}}
<div class="elementor-element elementor-element-1ff831a e-flex e-con-boxed e-con e-parent" data-id="1ff831a"
    data-element_type="container">
    <div class="e-con-inner">
        {{range .}}
        <div class="elementor-element elementor-element-f8e4029 e-con-full e-flex e-con e-child" data-id="f8e4029"
            data-element_type="container">
            <div class="elementor-element elementor-element-4faa9f5 elementor-widget elementor-widget-icon-box"
                data-id="4faa9f5" data-element_type="widget" data-widget_type="icon-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-content">
                            <h3 class="elementor-icon-box-title">
                                <span>{{.value}}</span>
                            </h3>
                            <p class="elementor-icon-box-description">
                                {{.detail}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}

{{with .Params.section_5}}
<div class="elementor-element elementor-element-a7a8327 e-flex e-con-boxed e-con e-parent" data-id="a7a8327"
    data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-cb8cff7 elementor-widget elementor-widget-heading"
            data-id="cb8cff7" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">{{.small_title}}
                </h2>
            </div>
        </div>
        <div class="elementor-element elementor-element-2ea5ba8 elementor-widget__width-initial elementor-widget elementor-widget-heading"
            data-id="2ea5ba8" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">{{.main_title}}
                </h2>
            </div>
        </div>
        <div class="elementor-element elementor-element-ae946a9 e-con-full e-flex e-con e-child" data-id="ae946a9"
            data-element_type="container">
            {{range first 3 .testimonials}}
            <div class="elementor-element elementor-element-365c096 e-con-full e-flex e-con e-child" data-id="365c096"
                data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-7412398 elementor-widget elementor-widget-testimonial"
                    data-id="7412398" data-element_type="widget" data-widget_type="testimonial.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-testimonial-wrapper">
                            <div class="elementor-testimonial-content">"{{.testimonial}}"

                            </div>

                            <div
                                class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                <div class="elementor-testimonial-meta-inner">
                                    <div class="elementor-testimonial-image">
                                        <img loading="lazy" decoding="async" width="512" height="512"
                                            src="/unmeilleuravenir.com_files/user.png">
                                    </div>

                                    <div class="elementor-testimonial-details">
                                        <div class="elementor-testimonial-name">{{.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        <div class="elementor-element elementor-element-90cacb0 e-con-full e-flex e-con e-child" data-id="90cacb0"
            data-element_type="container">
            {{range $i,$d := .testimonials}}
            {{ if gt $i 2}}
            <div class="elementor-element elementor-element-fe26a41 e-con-full e-flex e-con e-child" data-id="fe26a41"
                data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-d59021f elementor-widget elementor-widget-testimonial"
                    data-id="d59021f" data-element_type="widget" data-widget_type="testimonial.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-testimonial-wrapper">
                            <div class="elementor-testimonial-content">"{{.testimonial}}"

                            </div>

                            <div
                                class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                <div class="elementor-testimonial-meta-inner">
                                    <div class="elementor-testimonial-image">
                                        <img loading="lazy" decoding="async" width="512" height="512"
                                            src="/unmeilleuravenir.com_files/user.png"
                                            class="attachment-full size-full wp-image-146" alt="">
                                    </div>

                                    <div class="elementor-testimonial-details">
                                        <div class="elementor-testimonial-name">{{.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</div>
{{end}}

{{with .Params.section_6}}
<div class="elementor-element elementor-element-a14f281 e-flex e-con-boxed e-con e-parent" data-id="a14f281"
    data-element_type="container">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-a9c0da5 elementor-widget elementor-widget-heading"
            data-id="a9c0da5" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">{{.small_title}}
                </h2>
            </div>
        </div>
        <div class="elementor-element elementor-element-f906d5e elementor-widget__width-initial elementor-widget elementor-widget-heading"
            data-id="f906d5e" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">{{.main_title}}
                </h2>
            </div>
        </div>
        <div class="elementor-element elementor-element-34bb12c e-con-full e-flex e-con e-child" data-id="34bb12c"
            data-element_type="container">
            <div class="elementor-element elementor-element-6e3c6b4 e-con-full e-flex e-con e-child" data-id="6e3c6b4"
                data-element_type="container">
                {{range first 3 .faqs}}
                <div class="elementor-element elementor-element-32606e9 elementor-widget elementor-widget-icon-box"
                    data-id="32606e9" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper">
                            <div class="elementor-icon-box-content">
                                <h3 class="elementor-icon-box-title">
                                    <span>{{.question}}</span>
                                </h3>
                                <p class="elementor-icon-box-description">{{.answer}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
            <div class="elementor-element elementor-element-2a964d0 e-con-full e-flex e-con e-child" data-id="2a964d0"
                data-element_type="container">
                {{range $i,$d := .faqs}}
                {{ if gt $i 2}}
                <div class="elementor-element elementor-element-32606e9 elementor-widget elementor-widget-icon-box"
                    data-id="32606e9" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper">
                            <div class="elementor-icon-box-content">
                                <h3 class="elementor-icon-box-title">
                                    <span>{{.question}}</span>
                                </h3>
                                <p class="elementor-icon-box-description">{{.answer}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}

{{ with .Params.section_7 }}
<div class="elementor-element elementor-element-276d812 e-flex e-con-boxed e-con e-parent" data-id="276d812"
    data-element_type="container">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-a9c6bad e-con-full e-flex e-con e-child" data-id="a9c6bad"
            data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
            <div class="elementor-element elementor-element-42c6057 elementor-widget__width-inherit elementor-widget elementor-widget-heading"
                data-id="42c6057" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">{{.title}}
                    </h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-96cfb0b elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-text-editor"
                data-id="96cfb0b" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <p>{{.description}}</p>
                </div>
            </div>
            <div class="elementor-element elementor-element-7d16b8e elementor-align-center elementor-widget elementor-widget-button"
                data-id="7d16b8e" data-element_type="widget" data-widget_type="button.default">
                <div class="elementor-widget-container">
                    <div class="elementor-button-wrapper">
                        {{with .button}}
                        <a class="elementor-button elementor-button-link elementor-size-sm" href="{{.link}}">
                            <span class="elementor-button-content-wrapper">
                                <span class="elementor-button-icon">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-fas-long-arrow-alt-right"
                                        viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z">
                                        </path>
                                    </svg> </span>
                                <span class="elementor-button-text">{{.text}}</span>
                            </span>
                        </a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end }}

{{ with .Params.section_8 }}
<div class="elementor-element elementor-element-a30d7b8 e-flex e-con-boxed e-con e-parent" data-id="a30d7b8"
    data-element_type="container">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-59f11f4 e-con-full e-flex e-con e-child" data-id="59f11f4"
            data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-45dc4b0 elementor-widget__width-inherit elementor-widget elementor-widget-heading"
                data-id="45dc4b0" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">{{.title}}
                    </h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-03c4f9d elementor-widget__width-inherit elementor-widget elementor-widget-text-editor"
                data-id="03c4f9d" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <p>{{.description}}</p>
                </div>
            </div>

            {{range .features}}
            <div class="elementor-element elementor-element-4769071 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="4769071" data-element_type="widget" data-widget_type="divider.default">
                <div class="elementor-widget-container">
                    <div class="elementor-divider">
                        <span class="elementor-divider-separator">
                        </span>
                    </div>
                </div>
            </div>

            <div class="elementor-element elementor-element-45b520b e-con-full e-flex e-con e-child" data-id="45b520b"
                data-element_type="container">
                <div class="elementor-element elementor-element-9eb6d5c e-con-full e-flex e-con e-child"
                    data-id="9eb6d5c" data-element_type="container">
                    <div class="elementor-element elementor-element-1a83303 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                        data-id="1a83303" data-element_type="widget" data-widget_type="icon-list.default">
                        <div class="elementor-widget-container">
                            <ul class="elementor-icon-list-items">
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                                        <svg aria-hidden="true" class="e-font-icon-svg e-far-window-maximize"
                                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                            <path d="{{.icon}}">
                                            </path>
                                        </svg> </span>
                                    <span class="elementor-icon-list-text">{{.title}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-f436e58 e-con-full e-flex e-con e-child"
                    data-id="f436e58" data-element_type="container">
                    <div class="elementor-element elementor-element-e14772a elementor-widget__width-inherit elementor-widget elementor-widget-text-editor"
                        data-id="e14772a" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>{{.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{ end }}

{{ end }}